{
  "extends":[
    "@nuxtjs",
    "airbnb/base"
  ],
  "rules": {
    "no-underscore-dangle": "off",
    "class-methods-use-this": "off",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "no-param-reassign": [2, { "props": false }],
    "no-console": [2, { "allow": ["warn", "error"] }]
  },
  "plugins": [
    "vue"
  ],
  "globals": {
    "expect": true,
    "before": true,
    "it": true,
    "describe": true,
    "after": true,
    "afterAll": true,
    "beforeEach": true,
    "afterEach": true
  }
}
